<!--<div class="header">-->
<!--<ul class="nav nav-pills pull-right">-->
<!--<li class="active"><a ng-href="#">Home</a></li>-->
<!--<li><a ng-href="#">About</a></li>-->
<!--<li><a ng-href="#">Contact</a></li>-->
<!--</ul>-->
<!--<h3 class="text-muted">mismar ui</h3>-->
<!--</div>-->

<!--<div class="jumbotron">-->
<!--<h1>'Allo, 'Allo!</h1>-->
<!--<p class="lead">-->
<!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
<!--Always a pleasure scaffolding your apps.-->
<!--</p>-->
<!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
<!--<h4>HTML5 Boilerplate</h4>-->
<!--<p>-->
<!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
<!--</p>-->

<!--<h4>Angular</h4>-->
<!--<p>-->
<!--AngularJS is a toolset for building the framework most suited to your application development.-->
<!--</p>-->

<!--<h4>Karma</h4>-->
<!--<p>Spectacular Test Runner for JavaScript.</p>-->
<!--</div>-->

<!--<div class="footer">-->
<!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
<!--</div>-->

<div class="masajids">
    <div class="masajid" ng-repeat="masjid in masajids" style="border:1px solid; padding:20px;">
        <div>
            <label for="name">Name:</label>
            <span class="value">{{masjid.name}}</span>
        <div>
        <div>
            <label for="name">Address:</label>
            <span class="value">{{masjid.full_address}}</span>
         </div>
         <div ng-repeat="salah_time in masjid.salah_times">
             <label for="name">{{salah_time.salah | titleize}}</label>
             <span class="value">{{salah_time.time | date : shortTime}}</span>
         </div>


    </div>
</div>